<div class="row">
    <div class="col-12">
        <table id="tabela" class="table table-striped table-hover display" width="100%">
            <thead>
            <tr>
                <th  class="all" width="40%">Nome</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of categorias">
                <td>{{item.nome}}</td>
                <td>
                    <button type="button" (click)="editar(item.id);openBackDropCustomClass(content);" class="btn btn-info">Editar</button> | 
                    <button type="button" (click)="remover(item.id)" class="btn btn-danger">Remover</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="adicionar();openBackDropCustomClass(content);">Adicionar</button>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Adicionar / Editar</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="categoriaForm" id="categoriaForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input class="form-control" required  formControlName="nome" type="text" id="nome" placeholder="Entre com o nome da categoria" [ngClass]="{ 'is-invalid': (submitted) && f.nome.errors }">
                <div *ngIf="(submitted) && f.nome.errors" class="invalid-feedback">
                    <div *ngIf="f.nome.errors.required">Nome obrigatório.</div>
                </div>
            </div>
            <div class="form-group mb-0 text-center">
                <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-login"></i> Salvar </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
    </div>
</ng-template>