<div class="auth-fluid-form-box">
    <div class="align-items-center d-flex">
        <div class="card-body">
            <div class="text-center text-lg-center">
                <span></span>
            </div>
            <p></p>
            <h4 class="mt-0">Autenticação</h4>
            <p class="text-muted mb-4">Entre com seu login.</p>
            <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Login</label>
                    <input class="form-control" required  formControlName="username" type="text" id="username" placeholder="Entre com o username" [ngClass]="{ 'is-invalid': (submitted) && f.username.errors }">
                    <div *ngIf="(submitted) && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Login obrigatório.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input class="form-control" formControlName="password" type="password" required id="password" placeholder="Digite aqui a sua senha" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">A senha é obrigatória.</div>
                    </div>
                </div>
                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-login"></i> Entrar </button>
                </div>
            </form>
        </div>
    </div> 
</div>