<div class="row">
    <div class="col-12">
        <table id="tabela" class="table table-striped table-hover display" width="100%">
            <thead>
            <tr>
                <th  class="all" width="40%">Nome</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of imoveis">
                <td>{{item.nome}}</td>
                <td>{{item.descricao}}</td>
                <td>{{item.categoria.nome}}</td>
                <td>{{item.tipoImovel.nome}}</td>
                <td>
                    <button type="button" (click)="editar(item.id);openBackDropCustomClass(content);" class="btn btn-info">Editar</button> | 
                    <button type="button" (click)="remover(item.id)" class="btn btn-danger">Remover</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="adicionar();openBackDropCustomClass(content);">Adicionar</button>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Adicionar / Editar</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="imovelForm" id="imovelForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input class="form-control" required  formControlName="nome" type="text" id="nome" placeholder="Entre com o nome do imóvel." [ngClass]="{ 'is-invalid': (submitted) && f.nome.errors }">
                <div *ngIf="(submitted) && f.nome.errors" class="invalid-feedback">
                    <div *ngIf="f.nome.errors.required">Nome obrigatório.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea class="form-control" required  formControlName="descricao" type="text" id="descricao" placeholder="Entre com o descricao do imóvel." [ngClass]="{ 'is-invalid': (submitted) && f.descricao.errors }"></textarea>
                <div *ngIf="(submitted) && f.descricao.errors" class="invalid-feedback">
                    <div *ngIf="f.descricao.errors.required">descricao obrigatório.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="tipoImovel">Tipo Imóvel</label>
                <select class="form-control" required  formControlName="tipoImovel" type="text" id="tipoImovel" [ngClass]="{ 'is-invalid': (submitted) && f.tipoImovel.errors }">
                    <option *ngFor="let item of tiposImoveis" [value]="item.id">{{item.nome}}</option>
                </select>
                <div *ngIf="(submitted) && f.tipoImovel.errors" class="invalid-feedback">
                    <div *ngIf="f.tipoImovel.errors.required">Nome obrigatório.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select class="form-control" required  formControlName="categoria" type="text" id="categoria" [ngClass]="{ 'is-invalid': (submitted) && f.categoria.errors }">
                    <option *ngFor="let item of categorias" [value]="item.id">{{item.nome}}</option>
                </select>
                <div *ngIf="(submitted) && f.categoria.errors" class="invalid-feedback">
                    <div *ngIf="f.categoria.errors.required">Nome obrigatório.</div>
                </div>
            </div>
            <div class="form-group">
                <ngx-dropzone accept="image/jpeg,image/jpg,image/png" (change)="onSelect($event)">
                    <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">  
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>
            <div class="form-group mb-0 text-center">
                <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-login"></i> Salvar </button>
            </div>
        </form>
    </div>
</ng-template>